--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6
transformers==4.45.0
torch==2.4.1+cpu
pydantic==2.9.2
huggingface-hub==0.25.1
optimum==1.23.0
onnxruntime==1.19.0
